# Copy this file to .env in the root directory

# Firebase Configuration
VITE_FIREBASE_API_KEY=AlzaSyDtuoKjWBLf-1rg2v9sBwET32LTwUPUDa0
VITE_FIREBASE_AUTH_DOMAIN=identity-dapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=identity-dapp
VITE_FIREBASE_STORAGE_BUCKET=identity-dapp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=3996124759
VITE_FIREBASE_APP_ID=1:3996124759:web:eebb050345d9767b1ac512

# Backend Configuration (for Algorand integration)
VITE_BACKEND_URL=http://localhost:8000
VITE_BACKEND_API_KEY=mock-key

# Algorand Configuration
VITE_ALGO_NETWORK=testnet
VITE_ALGOD_MAINNET_URL=https://mainnet-api.algonode.cloud
VITE_ALGOD_TESTNET_URL=https://testnet-api.algonode.cloud
VITE_ALGOD_TOKEN=

# Pinata Configuration
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlOTVmNjIwNC0yODExLTRkMmQtOTc3My0zOGIzMjg4ODE3YmQiLCJlbWFpbCI6ImFsZW5pc3NhY3NhbTA1QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJhMWIzYTkzYTcwNmE0ODJkOTE3NyIsInNjb3BlZEtleVNlY3JldCI6ImEzOTU2YTExYzA5ZWE4Y2YyMmFhYjY5MTJmNmMxYTkwOTg4NDBiY2E3NjUxMjI0ZmUyZjBlM2FiOGViODYyZTgiLCJleHAiOjE3ODc1MTI2NjJ9.kireLFFQ07Ld_bIehOR6tRooTLOCaGhxGyJo3A1L-_0
VITE_PINATA_API_KEY=a1b3a93a706a482d9177
VITE_PINATA_API_SECRET=a3956a11c09ea8cf22aab6912f6c1a9098840bca7651224fe2f0e3ab8eb862e8
VITE_PINATA_GATEWAY=gateway.pinata.cloud

# WalletConnect Configuration
VITE_WALLETCONNECT_PROJECT_ID=8f17897c48d7b2cdeed8c57bdacd508c

# Development
NODE_ENV=development
